[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-plugins"]
	path = bundle/vim-plugins
	url = git@github.com:victor-fdez/vim-plugins.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-angular2-snippets"]
	path = bundle/vim-angular2-snippets
	url = https://github.com/magarcia/vim-angular2-snippets.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-js-pretty-template"]
	path = bundle/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
