[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-plugins"]
	path = bundle/vim-plugins
	url = git@github.com:WolfgangMehner/vim-plugins.git
